[colors]
foreground = "#{{.BrightWhite.ToHex}}"
background = "#{{.Black.ToHex}}"

cursor_bg = "#{{.BrightYellow.ToHex}}"
cursor_border = "#{{.BrightYellow.ToHex}}"
cursor_fg = "#{{.Black.ToHex}}"

selection_bg = "#{{.Yellow.ToHex}}"
selection_fg = "#{{.Black.ToHex}}"

ansi = [ "#{{.Black.ToHex}}", "#{{.Red.ToHex}}", "#{{.Green.ToHex}}", "#{{.Yellow.ToHex}}", "#{{.Blue.ToHex}}", "#{{.Magenta.ToHex}}", "#{{.Cyan.ToHex}}", "#{{.White.ToHex}}" ]
brights = [ "#{{.BrightBlack.ToHex}}", "#{{.BrightRed.ToHex}}", "#{{.BrightGreen.ToHex}}", "#{{.BrightYellow.ToHex}}", "#{{.BrightBlue.ToHex}}", "#{{.BrightMagenta.ToHex}}", "#{{.BrightCyan.ToHex}}", "#{{.BrightWhite.ToHex}}" ]
