[colors]
foreground = "#{{.LightWhite.HexRGB}}"
background = "#{{.Black.HexRGB}}"

cursor_bg = "#{{.LightYellow.HexRGB}}"
cursor_border = "#{{.LightYellow.HexRGB}}"
cursor_fg = "#{{.Black.HexRGB}}"

selection_bg = "#{{.Yellow.HexRGB}}"
selection_fg = "#{{.Black.HexRGB}}"

ansi = [ "#{{.Black.HexRGB}}", "#{{.Red.HexRGB}}", "#{{.Green.HexRGB}}", "#{{.Yellow.HexRGB}}", "#{{.Blue.HexRGB}}", "#{{.Magenta.HexRGB}}", "#{{.Cyan.HexRGB}}", "#{{.White.HexRGB}}" ]
brights = [ "#{{.LightBlack.HexRGB}}", "#{{.LightRed.HexRGB}}", "#{{.LightGreen.HexRGB}}", "#{{.LightYellow.HexRGB}}", "#{{.LightBlue.HexRGB}}", "#{{.LightMagenta.HexRGB}}", "#{{.LightCyan.HexRGB}}", "#{{.LightWhite.HexRGB}}" ]
