['{{.Black.ToRGBFunc}}','{{.Red.ToRGBFunc}}','{{.Green.ToRGBFunc}}','{{.Yellow.ToRGBFunc}}','{{.Blue.ToRGBFunc}}','{{.Magenta.ToRGBFunc}}','{{.Cyan.ToRGBFunc}}','{{.White.ToRGBFunc}}','{{.BrightBlack.ToRGBFunc}}','{{.BrightRed.ToRGBFunc}}','{{.BrightGreen.ToRGBFunc}}','{{.BrightYellow.ToRGBFunc}}','{{.BrightBlue.ToRGBFunc}}','{{.BrightMagenta.ToRGBFunc}}','{{.BrightCyan.ToRGBFunc}}','{{.BrightWhite.ToRGBFunc}}','{{.HardBlack.ToRGBFunc}}','{{.GrayScale1.ToRGBFunc}}','{{.GrayScale2.ToRGBFunc}}','{{.GrayScale3.ToRGBFunc}}','{{.GrayScale4.ToRGBFunc}}','{{.GrayScale5.ToRGBFunc}}']
