['{{.Black.ToRGBFunc}}','{{.Red.ToRGBFunc}}','{{.Green.ToRGBFunc}}','{{.Yellow.ToRGBFunc}}','{{.Blue.ToRGBFunc}}','{{.Magenta.ToRGBFunc}}','{{.Cyan.ToRGBFunc}}','{{.White.ToRGBFunc}}','{{.BrightBlack.ToRGBFunc}}','{{.BrightRed.ToRGBFunc}}','{{.BrightGreen.ToRGBFunc}}','{{.BrightYellow.ToRGBFunc}}','{{.BrightBlue.ToRGBFunc}}','{{.BrightMagenta.ToRGBFunc}}','{{.BrightCyan.ToRGBFunc}}','{{.BrightWhite.ToRGBFunc}}','{{.HardBlack.ToRGBFunc}}','{{.Gradation1.ToRGBFunc}}','{{.Gradation2.ToRGBFunc}}','{{.Gradation3.ToRGBFunc}}','{{.Gradation4.ToRGBFunc}}','{{.Gradation5.ToRGBFunc}}']
