['{{.Black.DecRGBFunc}}','{{.Red.DecRGBFunc}}','{{.Green.DecRGBFunc}}','{{.Yellow.DecRGBFunc}}','{{.Blue.DecRGBFunc}}','{{.Magenta.DecRGBFunc}}','{{.Cyan.DecRGBFunc}}','{{.White.DecRGBFunc}}','{{.LightBlack.DecRGBFunc}}','{{.LightRed.DecRGBFunc}}','{{.LightGreen.DecRGBFunc}}','{{.LightYellow.DecRGBFunc}}','{{.LightBlue.DecRGBFunc}}','{{.LightMagenta.DecRGBFunc}}','{{.LightCyan.DecRGBFunc}}','{{.LightWhite.DecRGBFunc}}','{{.HardBlack.DecRGBFunc}}','{{.GrayScale1.DecRGBFunc}}','{{.GrayScale2.DecRGBFunc}}','{{.GrayScale3.DecRGBFunc}}','{{.GrayScale4.DecRGBFunc}}','{{.GrayScale5.DecRGBFunc}}']
